<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <div class="spacer"></div>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Marketing/Info oldalak</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Kapcsolat</a>
          </li>
          <li>
            <a href="#!">Árlista</a>
          </li>
          <li>
            <a href="#!">GYIK</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tranzakciós segítség</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Hogyan működik - eladóknak</a>
          </li>
          <li>
            <a href="#!">Hogyan működik - vevőknek</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Jogi oldalak</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">ÁSZF</a>
          </li>
          <li>
            <a href="#!">Adatkezelési tájékoztató</a>
          </li>
          <li>
            <a href="#!">Impresszum</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> MoovSmart.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
