<!-- Footer -->
<footer class="page-footer font-small footer--light">
  <div class="spacer"></div>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto text-center">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Marketing/Info oldalak</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"class="text-success">Kapcsolat</a>
          </li>
          <li>
            <a href="#!"class="text-success">Árlista</a>
          </li>
          <li>
            <a href="#!"class="text-success">GYIK</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto text-center">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tranzakciós segítség</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"class="text-success">Hogyan működik - eladóknak</a>
          </li>
          <li>
            <a href="#!"class="text-success">Hogyan működik - vevőknek</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto text-center">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Jogi oldalak</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-success">ÁSZF</a>
          </li>
          <li>
            <a href="#!"class="text-success">Adatkezelési tájékoztató</a>
          </li>
          <li>
            <a href="#!"class="text-success">Impresszum</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#" class="text-success"> MoovSmart.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
