<div class="container">

  <form [formGroup]="searchFrom">
    <div class="form-group">

      <select class="form-control" formControlName="propertyType" id="propertyTypes"
              name="propertyTypes" ng-model="data.singleSelect">

        <option *ngFor="let propType of propertyType" value="{{propType.name}}">
          {{propType.displayName}}
        </option>
      </select>
    </div>


    <div class="form-group">

      <select class="form-control" formControlName="propertyConditionType"
              id="propertyConditionTypes"
              name="propertyConditionTypes" ng-model="data.singleSelect">

        <option *ngFor="let propCond of propertyConditionType" value="{{propCond.name}}">
          {{propCond.displayName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" formControlName="cities"
              id="city"
              name="city" ng-model="data.singleSelect">

        <option *ngFor="let city of cities " value="{{city}}">
          {{city.city}}
        </option>
      </select>
    </div>

    <div class="form-group form-inline ">
      <label class="property-form-label" for="priceFrom">Irányár min</label>
      <input type="text"
             formControlName="priceFrom"
             class="form-control price"
             placeholder="min"
             id="priceFrom"
      />
      <label class="property-form-label" for="priceTo">Irányár max</label>
      <input type="text"
             formControlName="priceTo"
             class="form-control price"
             placeholder="max"
             id="priceTo"
      />
    </div>

    <div class="form-group form-inline ">
      <label class="property-form-label" for="areaFrom">Négyzetméter min</label>
      <input type="text"
             formControlName="areaFrom"
             class="form-control price"
             placeholder="min"
             id="areaFrom"
      />
      <label class="property-form-label" for="areaTo">Négyzetméter max</label>
      <input type="text"
             formControlName="areaTo"
             class="form-control price"
             placeholder="max"
             id="areaTo"
      />
    </div>

    <div class="form-group form-inline ">
      <label class="property-form-label" for="numberOfRoomsFrom">Négyzetméter min</label>
      <input type="text"
             formControlName="numberOfRoomsFrom"
             class="form-control price"
             placeholder="min"
             id="numberOfRoomsFrom"
      />
      <label class="property-form-label" for="numberOfRoomsTo">Négyzetméter max</label>
      <input type="text"
             formControlName="numberOfRoomsTo"
             class="form-control price"
             placeholder="max"
             id="numberOfRoomsTo"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-danger btn-block" (click)="onSubmit()">Submit</button>
    </div>
  </form>

</div>
