<div class="container">
<h2>Részletes keresés</h2>
  <hr>
  <form [formGroup]="searchFrom">

    <div class="form-group">
      <label class="search-label">Város</label>
      <select class="form-control col-lg-4 col-md-6 col-sm-6" formControlName="city"
              id="city"
              name="city" ng-model="data.singleSelect">
        <option value="">--Mindegy--</option>
        <option *ngFor="let city of city " value="{{city.city}}">
          {{city.city}}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label class="search-label">Ingatlan típusa</label>
      <select class="form-control col-lg-4 col-md-6 col-sm-6" formControlName="propertyType" id="propertyTypes"
              name="propertyTypes" ng-model="data.singleSelect">
        <option [ngValue]=null>--Mindegy--</option>
        <option *ngFor="let propType of propertyType" value="{{propType.name}}">
          {{propType.displayName}}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label class="search-label">Ingatlan állapota</label>
      <select class="form-control col-lg-4 col-md-6 col-sm-6" formControlName="propertyConditionType"
              id="propertyConditionTypes"
              name="propertyConditionTypes" ng-model="data.singleSelect">
        <option [ngValue]=null>--Mindegy--</option>
        <option *ngFor="let propCond of propertyConditionType" value="{{propCond.name}}">
          {{propCond.displayName}}
        </option>
      </select>
    </div>




    <div class="form-group form-inline">
      <label class="property-form-label" for="minPrice">Irányár</label>
      <input type="number"
             formControlName="minPrice"
             class="form-control min-max-field"
             placeholder="min"
             id="minPrice"
             min="0"
      />
      <label class="property-form-label" for="maxPrice"> - </label>
      <input type="number"
             formControlName="maxPrice"
             class="form-control min-max-field"
             placeholder="max"
             id="maxPrice"
             min="0"
      /> <label>Millió Ft</label>

    </div>
    <p><small *ngIf="searchFrom.errors?.priceRangeError && (searchFrom.touched || searchFrom.dirty)" class="cross-validation-error-message alert alert-danger">
      A minimum ár nem lehet nagyobb mint a maximum ár!
    </small></p>



    <div class="form-group form-inline ">
      <label class="property-form-label" for="minArea">Négyzetméter</label>
      <input type="number"
             formControlName="minArea"
             class="form-control min-max-field"
             placeholder="min"
             id="minArea"
             min="0"
      />
      <label class="property-form-label" for="maxArea"> - </label>
      <input type="number"
             formControlName="maxArea"
             class="form-control min-max-field"
             placeholder="max"
             id="maxArea"
             min="0"
      /> <label>m2</label>
    </div>
    <p><small *ngIf="searchFrom.errors?.areaRangeError && (searchFrom.touched || searchFrom.dirty)" class="cross-validation-error-message alert alert-danger">
      A minimum négyzetméter nem lehet nagyobb mint a maximum négyzetméter!
    </small></p>

    <div class="form-group form-inline ">
      <label class="property-form-label" for="minRooms">Szobák száma</label>
      <input type="number"
             formControlName="minRooms"
             class="form-control min-max-field"
             placeholder="min"
             id="minRooms"
             min="0"
      />
      <label class="property-form-label" for="maxRooms"> - </label>
      <input type="number"
             formControlName="maxRooms"
             class="form-control min-max-field"
             placeholder="max"
             id="maxRooms"
             min="0"
      />
    </div>
    <p><small *ngIf="searchFrom.errors?.numberOfRoomsRangeError && (searchFrom.touched || searchFrom.dirty)" class="cross-validation-error-message alert alert-danger">
      A minimum szobaszám nem lehet nagyobb mint a maximum szobaszám!
    </small></p>



    <div class="form-group">
      <button class="btn btn-success" (click)="submit(searchFrom.value)">Keresés</button>
    </div>
  </form>

</div>
