/* Style the form - display items horizontally */


.form-inline .form-group{
  display:inline-block;
  width: auto;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  font-weight: bold;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.search-label{
  font-weight: bold;
}




.min-max-field{
  width: 70px;
  font-size: 12px;
}

