<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Moovsmart</a>
    <button aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler collapsed"
            data-target="#myNavbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/property-list">Property List</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/property-form">Create Property</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/userregister-form">Register new user</a></li>
      </ul>
    </div>
  </div>
</nav>
