<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">


      <a class="navbar-brand" routerLink="/home">MoovSmart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      aria-controls="myNavbar"
      data-target="#myNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>



  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li id="property-list-link" class="nav-item"><a class="nav-link" routerLink="/property-list">Ingatlanok</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedUser"  class="nav-item"><a class="nav-link" routerLink="/user-home" ><span
        class="glyphicon glyphicon-user"></span>Profil</a></li>
      <li *ngIf="isLoggedUser"  class="nav-item nav-link click" (click)="onLogOut()">Kilépés</li>

      <li *ngIf="!isLoggedUser" class="nav-item"><a class="nav-link" routerLink="/userregister-form"><span
            class="glyphicon glyphicon-user"></span>Regisztráció</a></li>
      <li *ngIf="!isLoggedUser" class="nav-item"><a class="nav-link" routerLink="/user-login"><span
            class="glyphicon glyphicon-log-in"></span>Bejelentkezés</a></li>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSubmit()">Hirdetés feladása</button>
    </ul>
  </div>

</nav>


<!-- <ul class="navbar-nav mr-auto">
   <li id="property-list-serach-link" class="nav-item"><a class="nav-link" routerLink="/property-list-search">Ingatlanok keresés</a></li>
 </ul>-->
