<div class="wrapper">
  <h1>Regisztráció</h1>
  <hr>
  <form [formGroup]="registerNewUserForm" id="registerForm">

    <div class="form-group">
      <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="email" placeholder="e-mail"
        type="email">
      <small *ngIf="registerNewUserForm.get('email').errors" class="text-danger">
        {{registerNewUserForm.get('email').errors}}
      </small>
    </div>

    <div class="form-group">
      <input aria-describedby="emailHelp" class="form-control" formControlName="userName" id="userName"
        placeholder="felhasználónév" type="text">
      <small *ngIf="registerNewUserForm.get('userName').errors" class="text-danger">
        {{registerNewUserForm.get('userName').errors}}
      </small>
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="password" id="password" placeholder="jelszó" type="password">
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="password" id="passwordConfirm" placeholder="jelszó megerősítése"
        type="password">
      <small *ngIf="registerNewUserForm.get('password').errors" class="text-danger">
        {{registerNewUserForm.get('password').errors}}
      </small>
    </div>

    <div class="form-group form-check">
      <input class="form-check-input" id="privacyPolicy" type="checkbox">
      <label class="form-check-label" for="privacyPolicy">Az adatkezelési szabályzatot tudomásul veszem és elfogadom
        <small *ngIf="registerNewUserForm.get('password').errors" class="text-danger">
          {{registerNewUserForm.get('password').errors}}
        </small>
      </label>
    </div>

    <div class="form-group form-check">
      <input class="form-check-input" id="termsCondition" type="checkbox">
      <label class="form-check-label" for="termsCondition">Az ÁSZF-et megismertem és elfogadom </label>
    </div>

    <button (click)="saveUser()" class="btn btn-success" type="submit">Regisztráció</button>
  </form>
</div>

<app-footer></app-footer>