<html>

<head>
</head>

<body>
    <div class="container">
        <h3 class=" text-center">Üzenetek</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Üzenetváltásaim hirdetés szerint</h4>
                        </div>
                    </div>

                    <div class="inbox_chat">
                        <div class="chat_list" *ngFor='let topic of topics'
                            [ngClass]="{'active_chat':topic.chatId === activeTopic?.chatId}">
                            <div class="chat_people" (mouseenter)='mouseOverId=topic.chatId'
                                (mouseleave)='mouseOverId=null'>
                                <div class="chat_ib">
                                    <button [style.visibility]="topic.chatId===mouseOverId
                                    ? 'visible'
                                    : 'hidden'" matTooltip='Beszélgetés törlése' matTooltipPosition='below'
                                        (click)='unsubscribe(topic)'>
                                        <fa-icon [icon]="faTrash" class="icon"></fa-icon>
                                    </button>
                                    <div class="message-topic" (click)='setActiveTopic(topic)'>
                                        <span class="message-topic-title">{{topic.title}}</span>
                                        <span>
                                            <span class="message-topic-partner"
                                                [matBadge]="topic.unread === 0? '':topic.unread" matBadgeOverlap=false
                                                matBadgeColor='basic'>{{ topic.partner }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mesgs">
                    <div class="msg_history">

                        <div *ngFor='let message of activeTopic?.chat.messages' [ngClass]="currentUserName === message.sender
                        ? 'outgoing_msg'
                        : 'received_msg'">
                            <div [ngClass]="currentUserName === message.sender
                            ? 'sent_msg'
                            : 'received_withd_msg'">
                                <p>{{message.text}} </p>
                                <span class="time_date">{{format(message.sentAt)}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="type_msg">
                        <div class="input_msg_write">

                            <input type="text" class="write_msg" [formControl]='message' [placeholder]="activeTopic===null
                            ? 'Válassz ki egy beszélgetést!'
                            : 'Ide írd be az üzenetet!'" />

                            <button class="msg_send_btn" type="button" matTooltip='Küldés' matTooltipPosition='below'
                                [disabled]='message.invalid ||activeTopic===null' (click)='send()'>
                                <fa-icon [icon]="faPaperPlane" class="icon"></fa-icon>
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>