<html>

<head>
</head>

<body>
    <div class="container">
        <h3 class=" text-center">Üzenetek</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Üzenetváltásaim hirdetés szerint</h4>
                        </div>
                    </div>

                    <div class="inbox_chat">
                        <div class="chat_list" *ngFor='let topic of topics | async | keyvalue'
                            [ngClass]="{'active_chat':+topic.key === (activeTopic | async)?.id}">
                            <div class="chat_people" (mouseenter)='mouseOverId=+topic.key'
                                (mouseleave)='mouseOverId=null'>
                                <div class="chat_ib">
                                    <button [style.visibility]="+topic.key===mouseOverId
                                    ? 'visible'
                                    : 'hidden'" matTooltip='Beszélgetés törlése' matTooltipPosition='below'
                                        (click)='unsubscribe(+topic.key)'>
                                        <fa-icon [icon]="faTrash" class="icon"></fa-icon>
                                    </button>
                                    <div class="message-topic" (click)='activeTopicId.next(+topic.key)'>
                                        <span class="message-topic-title">{{topic.value.title}}</span>
                                        <span>
                                            <span class="message-topic-partner"
                                                [matBadge]="topic.value.unread === 0? '':topic.value.unread"
                                                matBadgeOverlap=false
                                                matBadgeColor='basic'>{{ topic.value.partner }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mesgs">
                    <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">

                        <div *ngFor='let message of (activeTopic|async)?.messages' [ngClass]="(currentUserName|async) === message.sender
                        ? 'outgoing_msg'
                        : 'received_msg'">
                            <div [ngClass]="(currentUserName|async) === message.sender
                            ? 'sent_msg'
                            : 'received_withd_msg'">
                                <p>{{message.text}} </p>
                                <span class="time_date">{{format(message.sentAt)}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="type_msg">
                        <form class="input_msg_write" [formGroup]='form' (ngSubmit)='send()'>

                            <input type="text" class="write_msg" formControlName='message' [placeholder]="(activeTopic|async)===null
                            ? 'Válassz ki egy beszélgetést!'
                            : 'Ide írd be az üzenetet!'" />

                            <button class="msg_send_btn" type="button" matTooltip='Küldés' matTooltipPosition='below'
                                type="submit" [disabled]='form.invalid || (activeTopic|async)===null'>
                                <fa-icon [icon]="faPaperPlane" class="icon"></fa-icon>
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>