<div class="img-background">
  <div class="container">
    <h1 class="home-welcome">Ingatlan tranzakciók online</h1>
    <h2 class="home-welcome">Megállapodáskötés gyorsan, megbízhatóan, átláthatóan.</h2>

  </div>
</div>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h3 class="home-warning">Ez a weboldal a PROGmasters képzésének záróprojektjeként jött létre. <br>
      Az oldalon nem találhatók valós ingatlanhirdetések.</h3>
    <div class="col-lg-4 text-center">
      <fa-icon [icon]="faCity" class="icon"></fa-icon>
      <h2>Töltsd fel az ingatlant!</h2>
      <p>Eladó vagy bérbeadó ingatlanodat töltsd fel, hogy átláthatóan, biztonságosan tudj rá megállapodni - akár nyaralás közben is!</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <fa-icon [icon]="faDeal" class="icon"></fa-icon>
      <h2>Állapodj meg!</h2>
      <p>Adj (ellen)ajánlatot online rendszerünkben. Nézd meg a többiek ajánlatait is. Ha megállapodtatok, biztosítsd be az ajánlatot!</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <fa-icon [icon]="faFileContract" class="icon"></fa-icon>      <h2>Szerződj!</h2>
      <p>Nálunk minden lényeges feltételben megállapodhatsz. Nálunk érvényes előszerződést kötsz, a többi már a végrehajtás.</p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="wrapper">
    <a href="#" class="btn btn-success button-more disabled">Tudj meg többet</a>
  </div>
</div>



