<div class="container">
  <button class="btn btn-success float-right" routerLink="/property-list-search">Részletes keresés</button>


  <div class="filter-header">
    <p>Szűrés</p>
    <mat-form-field>
      <textarea matInput
                (keyup)="applyFilter($event)" placeholder=""></textarea>
    </mat-form-field>

  </div>


  <div class="table-container mat-elevation-z8 ">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef > Kép </mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <img class="list-img" src="{{row.listOfImages[0]}}"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cím </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="goToDetails(row.id)" class="click">{{row.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfRooms">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Szobák száma </mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-center">{{row.numberOfRooms}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ár</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.price}} millió Ft</mat-cell>
      </ng-container>

      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Méret</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.area}} m2</mat-cell>
      </ng-container>

      <ng-container matColumnDef="priceForSquareMeter">
        <mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Nm ár</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-center">{{row.priceForSquareMeter  | number: '2.'}} Ft/m2</mat-cell>
      </ng-container>

      <ng-container matColumnDef="advertId">
        <mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header >Hirdetés azonosító</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-center">{{row.advertId}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="startOfAuction">
        <mat-header-cell  class="text-center" *matHeaderCellDef mat-sort-header>Aukció</mat-header-cell>
        <mat-cell class="text-center" *matCellDef="let row">
          <div class="auction" class="gavel" *ngIf="row.endOfAuction > row.today">
            <fa-icon [icon]="faGavel" ></fa-icon>
          <!--{{row.startOfAuction | date:'yyyy.MM.dd HH:mm:ss'}} - {{row.endOfAuction  | date:'yyyy.MM.dd HH:mm:ss'}}-->
          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" (change)="changePage(dataSource.paginator.pageIndex, dataSource.paginator.pageSize)"></mat-paginator>

  </div>

</div>
<br>
<br>
<br>

