<div class="container">
<table id="list-table" class="table table-striped" matSort (matSortChange)="sortData($event)">
  <thead class="thead-dark">
  <tr>
    <th>Kép</th>
    <th mat-sort-header="title">Cím</th>
    <th mat-sort-header="numberOfRooms">Szobák száma</th>
    <th mat-sort-header="area">Méret<th>
    <th mat-sort-header="price">Ár</th>
    <th mat-sort-header="price/area">Ár/négyzetméter</th>
    <th>Hirdetésazonosító</th>
    <th>Művelet</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let property of propertyListItemModels">
    <td><img class="list-img" src="{{ property.listOfImages[0]}}" > </td>
    <td>{{ property.title}}</td>
    <td>{{ property.numberOfRooms}}</td>
    <td>{{ property.area}}</td>
    <td>{{property.price}}</td>
    <td>{{property.priceForSquareMeter}} Ft/m2</td>
    <td>{{ property.advertId }}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="editProperty(property.id)" >edit</button>
        <button class="btn btn-danger" (click)="archivePropertyAdvert(property.id)">Archivál</button>
        <button class="btn btn-primary" (click)="goToDetails(property.id)">Részletek</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
