<div class="wrapper">
  <h1>Bejelentkezés</h1>
  <hr>
  <form [formGroup]="loginForm" id="loginForm">
    <div class="form-group">

      <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="email" type="email"
        placeholder="e-mail">
    </div>
    <div class="form-group">

      <input class="form-control" formControlName="password" id="password" type="password" placeholder="jelszó">
    </div>

    <p><small *ngFor=" let errorMessage of loginForm.get('password').errors | keyvalue" class="text-danger">
      {{errorMessage?.value}}
    </small></p>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Bejelentkezés</button>

    <div class="info-reg">Még nem regisztráltál? <a routerLink="/userregister-form">Itt</a> megteheted.</div>
  </form>

</div>

