.container{
  width: 800px;
}

.label{
  font-weight: bold;
  font-size: x-large;
  text-align: left;
  margin: 0px 0px 30px 0px;
}

.label-medium{
  font-size: medium;
  text-align: left;
  margin: 20px 0px 20px 0px;
}

.bid-table-cell{
  font-size: small;
}


