<div class="container">
  <div class="label">Licitálás előzmények</div>
  <div class="label-medium">Aukció időtartama: {{startOfAuction | date:'yyyy.MM.dd HH:mm:ss'}} - {{endOfAuction | date:'yyyy.MM.dd HH:mm:ss'}}</div>

  <div class="label-medium">
    Licitek száma: {{datasource?.length}} Licitálók száma:{{numberOfBidUsers}}
  </div>

  <div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th>Licitáló</th>
      <th>Licitösszeg</th>
      <th>Dátum</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bid of datasource; index as i">
      <td class="bid-table-cell">{{bid?.userName}}</td>
      <td class="bid-table-cell">{{bid.amountOfBid}} Millió Ft</td>
      <td class="bid-table-cell">{{bid?.dateTimeOfBid | date:'yyyy.MM.dd HH:mm:ss'}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
