<div class="container">
  <form [formGroup]="bidForm">
    <div class="form-group form-inline">
      <input class="form-control"
             formControlName="amountOfBid"
             id="amountOfBid"
             name="amountOfBid"
             type="number"
             step="0.1"
             min="{{nextBid}}"
             [(ngModel)]="amountOfBid"
      >



      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Licit megerősítése</h4>
        </div>

        <div class="modal-body">
          <p>Biztosan elküldöd a licitet?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="onSubmit(); modal.close()" data-dismiss="modal">Licitálok</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Mégsem</button>
        </div>
      </ng-template>

      <!--
      <button class="btn btn-success my-buttons" (click)="openDialog(content)" [disabled]="(!amountOfBid)">Licit küldése</button>
      -->
      <button class="btn btn-success my-buttons" (click)="openDialog(content)" [disabled]="(!amountOfBid)">Licit küldése</button>


    </div>
    <div>
      <small *ngFor=" let errorMessage of bidForm.get('amountOfBid').errors | keyvalue" class="text-danger">
        {{errorMessage?.value}}
      </small></div>
  </form>
</div>

<!--placeholder="Min: {{nextBid}} Millió Ft"-->
