<div class="container">



  <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Profil</h3>
      </div>

      <ul class="list-unstyled components">
        <li><a routerLink="./user-details" routerLinkActive="active">
            <fa-icon [icon]="faUser" class="icon"></fa-icon> Adataim
          </a></li>
        <li><a routerLink="/messaging" routerLinkActive="active">
            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
            <span matBadge="99" matBadgeOverlap='false'>Üzeneteim</span>
          </a></li>

        <li><a routerLink="./user-property" routerLinkActive="active">
            <fa-icon [icon]="faCity" class="icon"></fa-icon> Eladó ingatlanjaim
          </a></li>
        <li><a routerLink="./user-details" routerLinkActive="inactive">Kedvenc ingatlanjaim</a></li>
        <li><a routerLink="./user-details" routerLinkActive="inactive">Licitált ingatlanjaim</a></li>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

      <div class="content-header"></div>

      <router-outlet></router-outlet>
    </div>

  </div>






</div>