

.content-header{
  margin-top: 50px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: #f8f9fa;
  position: fixed;
  height: 500px;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: #28a745;
}

.sidebar a:hover:not(.active) {
  background-color: #28a745;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.icon-message{
  width: 10px;
  padding-left: 40px;
}
