

<div class="container">



  <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Profil</h3>
      </div>

      <ul class="list-unstyled components">
        <li><a routerLink="./user-details" routerLinkActive="active">Adataim</a></li>
        <li><a routerLink="./user-property" routerLinkActive="active">Eladó ingatlanjaim</a></li>
        <li><a routerLink="./user-details" routerLinkActive="active">Kedvenc ingatlanjaim</a></li>
        <li><a routerLink="./user-details" routerLinkActive="active">Licitált ingatlanjaim</a></li>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

  <div class="content-header"></div>

      <router-outlet></router-outlet>
    </div>

  </div>






</div>

