
.owner_banner{
  padding: 10px 0px 10px 0px;
  background-color: #e7e8ed;
}

.address{
  font-weight: bold;
  font-size: x-large;
  padding: 30px 0px 10px 10px;
}

.container-small{
  width: 800px;
}

.label{
  font-weight: bold;
  font-size: x-large;
}

.label-small{
  font-weight: bold;
  font-size: large;
}

.btn-like{
  padding: 30px 0px 10px 10px;
  color: #5cb85c;
}

.btn-like:hover{
  font-weight: bold;
  color: #5cb85c;
}

.btn-envelope{
  color: #5cb85c;
}

.title{
  font-weight: bold;
  font-size: x-large;
  padding: 50px 0px 30px 10px;
}

.adverId{
  color: darkgrey;
  font-weight: bold;
  padding: 30px 0px 30px 10px;
  text-align: right;
}

.username{
  color: darkgrey;
  font-weight: bold;
  text-align: right;
  padding: 10px 0px 10px 0px;
}

.details{
  padding: 20px 0px 0px 10px;
}

.description{
  padding: 20px;
}

agm-map {
  height: 300px;
  padding: 30px;
}
