
.owner_banner{
  padding: 10px 0px 10px 0px;
  background-color: #e7e8ed;
}

.address{
  font-weight: bold;
  font-size: x-large;
  padding: 30px 0px 10px 10px;
}

.container-small{
  max-width: 1000px;
}

.container-auction{
  margin: 80px 0px 80px 0px;
  max-width: 900px;
}

.column-first{

}

.column-auction{
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 2px 5px 0 rgba(0,5,0,0.3);
}

.picsum-img-wrapper{
  height: 400px;
}

ngb-carousel img {
  width: 95%;
  height: 400px;
  outline: none;
  object-fit: cover;
}

.label{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.label-small{
  font-weight: bold;
  font-size: large;
}

.actual-price-label{
  font-weight: bold;
  font-size: x-large;
  margin:50px 0px 10px 10px;
  text-align: left;
}

.minimum-price{
  font-size: small;
  margin:10px 0px 50px 10px;
  text-align: left;
}

.btn-like{
  margin: 30px 0px 10px 0px;
  color: #5cb85c;
  float: right;
  border: #5cb85c solid 1px;
}

.btn-like:hover{
  font-weight: bold;
  color: white;
  background-color: #5cb85c;

}

.btn-envelope{
  color: #5cb85c;
}

.btn-envelope:hover{
  font-weight: bold;
  color: #5cb85c;
  background-color: #f8f9fa;
}

.title{
  font-weight: bold;
  font-size: x-large;
  padding: 50px 0px 30px 10px;
}

.adverId{
  float: right;
  margin-bottom: 20px;
  margin-right: 5%;
}

.username{
  color: darkgrey;
  font-weight: bold;
  text-align: right;
  padding: 30px 0px 10px 0px;
}

.details{
  padding: 20px 0px 0px 10px;
}

.description{
  padding: 20px;
}

agm-map {
  height: 300px;
  padding: 30px;
}
