
.owner_banner{
  padding: 10px 0px 10px 0px;
  background-color: #F8F9FA;
}

.address{
  font-weight: bold;
  font-size: x-large;
  padding: 30px 0px 10px 10px;
}

.container-small{
  max-width: 1000px;
}

.container-auction{
  margin: 80px 0px 80px 0px;
  max-width: 900px;
}

.auction-time{
  margin-top: 20px;
  font-size: medium;
  text-align: center;
}

.auction-state{
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.column-auction{
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 2px 5px 0 rgba(0,5,0,0.3);
}



.start-price{
  float: right;
  margin-top: 80px;
  right: 10px;
  font-weight: bold;
  font-size: x-large;
}

.minimum-price{
  font-size: small;
  padding-left: 30px;
  margin:0px 0px 50px 0px;
  text-align: left;
}

.actual-price-label{
  font-weight: bold;
  font-size: x-large;
  margin:50px 0px 10px 10px;
  text-align: left;
}

.final-price-label{
  font-weight: bold;
  font-size: x-large;
  margin:50px 0px 10px 10px;
  text-align: center;
}

.bid-history-button{
  margin:0px 0px 50px 10px;
  float: right;
  font-size: small;
  right: 10px;
  position: absolute;
}

.bid-history-button:hover{
  font-weight: bold;
  color: #5cb85c;
}

.picsum-img-wrapper{
  height: 400px;
}

.container-carousel{
  width: 95%;
}

ngb-carousel img {
  width: 100%;
  height: 400px;
  outline: none;
  object-fit: cover;
  object-position: 50% 50%;
}

.label{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.label-small{
  font-weight: bold;
  font-size: large;
}





.btn-like{
  margin: 30px 0px 10px 0px;
  color: #5cb85c;
  float: right;
}

.btn-like:hover{
  font-weight: bold;
  color: #5cb85c;
  background-color: #f8f9fa;
}

.btn-envelope{
  color: #5cb85c;
}

.btn-envelope:hover{
  font-weight: bold;
  color: #5cb85c;
  background-color: #f8f9fa;
}



.adverId{
  float: right;
  margin-bottom: 20px;
  margin-right: 5%;
}


.title{
  font-weight: bold;
  font-size: x-large;
  padding: 50px 0px 30px 10px;
}

.username{
  text-align: right;
  padding: 30px 30px 30px 0px;
}

.details{
  padding: 20px 0px 0px 10px;
}

.description{
  padding: 20px;
}

agm-map {
  height: 300px;
  padding: 30px;
}
