
<div class="container">


<div class="container-small">
  <div class="row owner_banner">
    <div class="col-6">
      {{propertyAdvertDetails?.advertStatus.displayName}}

    </div>
    <div class="col-6">
      <button class="btn btn-info float-right" (click)="editProperty(propertyAdvertDetails.id)">Szerkesztés</button>
      <button class="btn btn-danger float-right" (click)="archivePropertyAdvert(propertyAdvertDetails.id)">Törlés</button>
    </div>
  </div>

  <!--Cím-->
  <div class="row">
    <div class="col-8">
      <p class="address">{{propertyAdvertDetails?.city}}, {{propertyAdvertDetails?.district}} {{propertyAdvertDetails?.street}}</p>
    </div>
    <div class="col-4">
      <button class="btn btn-like float-right"><fa-icon [icon]="faStar"></fa-icon> Mentés</button>
    </div>
  </div>

  <div class="card-columns">
    <div class="card card-outline-success" *ngFor="let image of propertyAdvertDetails?.listOfImages; let i = index">
      <img class="card-img-top img-fluid" src="{{image}}" alt="Card image cap">
      <div class="card-block">

      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3 border-right">
      <p>Alapterület</p>
      <p class="label">{{propertyAdvertDetails?.area}} m2</p>
    </div>
    <div class="col-3 border-right" >
      <p class="">Szobaszám</p>
      <p class="label">{{propertyAdvertDetails?.numberOfRooms}}</p>
    </div>
    <div class="col-6">
      <p class="text-right">Ár</p>
      <p class="label text-right">{{propertyAdvertDetails?.price}} Millió Ft</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 username">Hirdetés feladója: {{propertyAdvertDetails?.userName}}
      <button class="btn btn-envelope float-right"><fa-icon [icon]="faEnvelope"></fa-icon> Üzenetet küldök</button></div>
  </div>

  <div class="row">
    <div class="col-8 title">{{propertyAdvertDetails?.title}}</div>
    <div class="col-4 adverId">Azonosító: {{propertyAdvertDetails?.advertId}}</div>
  </div>


  <div class="row details">
    <div class="col-4 label-small">Négyzetméter ár</div>
    <div class="col-8">{{propertyAdvertDetails?.priceForSquareMeter}} Ft/m2</div>
  </div>

  <div class="row details">
    <div class="col-4 label-small">Típus</div>
    <div class="col-8">{{propertyAdvertDetails?.propertyType.displayName}}</div>
  </div>
  <div class="row details">
    <div class="col-4 label-small">Állapot</div>
    <div class="col-8">{{propertyAdvertDetails?.propertyConditionType.displayName}}</div>
  </div>
  <div class="row details">
    <div class="col-4 label-small">Parkolás</div>
    <div class="col-8">{{propertyAdvertDetails?.parkingType.displayName}}</div>
  </div>

  <div class="row details">
    <div class="col-4 label-small">Erkély</div>
    <div class="col-8">{{propertyAdvertDetails?.balcony == true ? 'van': 'nincs'}}</div>
  </div>

  <div class="row details">
    <div class="col-4 label-small">Lift</div>
    <div class="col-8">{{propertyAdvertDetails?.elevator == true ? 'van': 'nincs'}}</div>
  </div>

  <div class="description">
    <p>{{propertyAdvertDetails?.description}}</p>
  </div>

  <div class="label">Térkép</div>

  <!--
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapReady)="mapReady($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
  -->

  <agm-map *ngIf="isAlreadyInit" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapReady)="setLocation()">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

</div>

</div>
