<div class="container">
  <div class="container-small">

    <div class="row owner_banner" *ngIf="isUserSeller">
      <div class="col-6">
        {{propertyAdvertDetails.advertStatus.displayName}}
      </div>
      <div class="col-6">
        <button class="btn btn-info float-right" (click)="editProperty(propertyAdvertDetails.id)">Szerkesztés</button>
        <button class="btn btn-danger float-right"
                (click)="archivePropertyAdvert(propertyAdvertDetails.id)">Archiválás
        </button>
      </div>
    </div>


    <div class="row" id="address-favourite">
      <div class="col-8">
        <p class="address">{{propertyAdvertDetails?.city}}, {{propertyAdvertDetails?.district}}
          {{propertyAdvertDetails?.street}}</p>
      </div>
      <div class="col-4">
        <div *ngIf="isVisitorLogged && !isUserSeller">
          <button class="btn btn-like" (click)="saveUnsaveFavourite()">
            <ng-template [ngIf]="this.isFavourite()" [ngIfElse]="emptyStar">
              <fa-icon [icon]="farStar" fa></fa-icon>
            </ng-template>
            <ng-template #emptyStar>
              <fa-icon [icon]="fasStar" fa></fa-icon>
            </ng-template>
            {{this.isFavourite() ? 'Eltávolítás' : 'Mentés' }}
          </button>
        </div>
      </div>
    </div>


    <div class="row" id="carousel-auction">
      <div class="col-12 col-lg-7 column-first">
        <div class="row">
          <ngb-carousel class="container-carousel">
            <ng-template ngbSlide *ngFor="let image of propertyAdvertDetails?.listOfImages; let i = index">
              <div class="picsum-img-wrapper">
                <img src="{{image}}" alt="{{i}}">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="adverId">Hirdetés azonosító: {{propertyAdvertDetails?.advertId}}</div>
          </div>
        </div>


        <div class="row">
          <div class="col-6">
            <p class="label">{{propertyAdvertDetails?.area}} m2</p>
          </div>
          <div class="col-6">
            <p class="label">{{propertyAdvertDetails?.numberOfRooms}} szoba</p>
          </div>
        </div>

      </div> <!--end column-first-->

      <div class="col-12 col-lg-5 column-auction" *ngIf="propertyAdvertDetails?.startOfAuction !=null">
        <div class="auction-time">Aukció ideje: {{propertyAdvertDetails?.startOfAuction| date:'yyyy.MM.dd HH:mm:ss'}}
          -         {{propertyAdvertDetails?.endOfAuction | date:'yyyy.MM.dd HH:mm:ss'}}
        </div>

        <div *ngIf="actual; else notActual">
        <countdown [text]="text"  units="Days | Hours | Minutes | Seconds"  end="{{propertyAdvertDetails?.endOfAuction}}"></countdown>
        </div>
        <ng-template #notActual >

          <ng-container *ngIf="future; else expired" >
            <div class="auction-state">Aukció hamarosan elindul</div>
          </ng-container>
        </ng-template>
        <ng-template #expired class="auction-state">
          <div class="auction-state">Aukció lezárult</div>
        </ng-template>




        <div *ngIf="propertyAdvertDetails?.startOfAuction !==null"> <!--show when startDate is exist-->
          <div *ngIf="actual" class="actual-price-label">Aktuális ár: {{propertyAdvertDetails?.actualPrice}} Millió Ft</div> <!--show when auction is not expired-->
          <div *ngIf="!actual && !future" class="final-price-label">Záró ár: {{propertyAdvertDetails?.actualPrice}} Millió Ft</div> <!--show when auction is expired-->
          <app-bid-form *ngIf="actual"></app-bid-form> <!--show when auction is actual-->
          <div class="row">
            <div col-6 *ngIf="actual">
              <div class="minimum-price">Minimum licit: {{nextBid}} Millió Ft</div>
            </div>
            <div col-6 *ngIf="!future">
              <button class="btn bid-history-button" (click)=toggleDisplay()>
                <ng-template [ngIf]="isShow == true" [ngIfElse]="notShow">[Licit előzmények]</ng-template>
                <ng-template #notShow>[Előzmények elrejtése]</ng-template>
              </button>
            </div>
          </div>
        </div>





        <div *ngIf="actual">
          <p class="start-price">Kezdő ár {{propertyAdvertDetails?.price}} Millió Ft</p>
        </div>

      </div><!--end column-auction-->


    </div> <!--end carousel-auction row-->


    <div class="row container-auction" [hidden]="isShow" *ngIf="propertyAdvertDetails?.startOfAuction !== null">

      <app-bid-list></app-bid-list>

    </div>


    <div class="row">
      <div class="col-6 title">{{propertyAdvertDetails?.title}}</div>
      <div class="col-6 username">Hirdetés feladója: {{
        isUserSeller
          ?'Én'
          :propertyAdvertDetails?.userName
        }}
        <div  *ngIf="isVisitorLogged  && !isUserSeller">
          <button class="btn btn-envelope float-right" (click)='sendMessage()'>
            <fa-icon [icon]="faEnvelope"></fa-icon> Üzenetet küldök
          </button>
        </div>
      </div>

    </div>

    <div class="row details">
      <div class="col-4 label-small">Kezdő ár</div>
      <div class="col-8 label-small">{{propertyAdvertDetails?.price}} Millió Ft</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Négyzetméter ár</div>
      <div class="col-8">{{propertyAdvertDetails?.priceForSquareMeter  | number: '2.'}} Ft/m2</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Típus</div>
      <div class="col-8">{{propertyAdvertDetails?.propertyType.displayName}}</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Állapot</div>
      <div class="col-8">{{propertyAdvertDetails?.propertyConditionType.displayName}}</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Parkolás</div>
      <div class="col-8">{{propertyAdvertDetails?.parkingType.displayName}}</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Erkély</div>
      <div class="col-8">{{propertyAdvertDetails?.balcony == true ? 'van' : 'nincs'}}</div>
    </div>

    <div class="row details">
      <div class="col-4 label-small">Lift</div>
      <div class="col-8">{{propertyAdvertDetails?.elevator == true ? 'van' : 'nincs'}}</div>
    </div>

    <div class="description">
      <p>{{propertyAdvertDetails?.description}}</p>
    </div>

    <div class="label">Térkép</div>


    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"
             (mapReady)="setLocation($event)">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>


  </div> <!--end container-small-->


</div> <!--end container-->

